/* style.css */
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(49,95,37);
	font-size: 50px;
	text-align: center;	
}

p {
	font-family: 'Nanum Gothic', sans-serif;
}

a {
	text-decoration: none;
}

#Nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;

}

.Navbar {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	height: 60px;
	margin: 0;
	padding: 5px;
	background: white;
	color: rgb(49,95,37);
	border-radius: 0;
	font-weight: bolder;
	font-size: 17px;
	text-decoration: none;
}

#menu {
	position: absolute;
	left: 10px;
	padding-top: 7px;
	font-size: 40px;
	z-index: 1;
}

#menu:hover {
	color: rgb(17, 176, 6);
	z-index: 1;
}

#Navbar-logo {
	position: absolute;
	left: 50px;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 10px;
}

.Resa-btn {
	position: absolute;
	right: 3%;
	bottom: 12px;
	text-decoration: none;
	text-align: center;
	border: 1px solid rgb(49,95,37);
	background: rgb(49,95,37);
	border-radius: 6px;
	font-weight: lighter;
	font-size: 13px;
	color: white;
	padding: 5px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 0px;
	box-shadow: 1px 1px grey;
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: 0;
}

.Resa-btn:hover {
	background: rgb(17, 176, 6);
	border: 1px solid rgb(17, 176, 6);
	color: white;
	text-decoration: none;
}

.dropdown {
	position: absolute;
	left: 0;
	display: block;
}

.dropdown-content {
	text-align: left;
	list-style-type: none;
	display: none;
	position: fixed;
	left: 0
	top: 130px;
	line-height: 240%;
	z-index: 0;
	border-radius: 0;
	padding: 25px;
	padding-top: 70px;
	background: white;
	width: 100%;
	height: 335px;
	margin-left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-text {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 2px;
}

.dropdown-text li:hover {
	font-weight: bolder;
	color: rgb(17, 176, 6);
}

.header {
	display: flex;
	position: relative;
	flex-direction: column;
	background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 50%), url("images/diapo1.jpg");
	background-size: 1300px;
  	height: 410px;
  	text-align: center;
	justify-content: space-around;
	align-items: center;
}

#logo{
	position: absolute;
	bottom: 20px;
	color: white;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	width: 350px;
}

#Bienvenue {
	position: absolute;
	bottom: 20px;
}

.cards {
	background: rgb(49,95,37);
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.card {
	height: 250px;
	width: 275px;
	box-shadow: 4px 4px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 10px; 
	margin: 20px;
}

.cardtext {
	position: absolute;
	bottom: 30px;
	left: 35px;
	color: rgb(49,95,37);
  width: 200px;
  font-weight: lighter;
  font-size: 15px;
  background: rgb(255,255,255);
  opacity: 0.9;
  padding: 5px;
  border-radius: 1px;
}

.cardtitle {
font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  background: rgb(49,95,37);
  opacity: 0.9;
  padding: 5px;
  border-radius: 1px;
  position: absolute;
	top: 20px;
	left: 37px;
}


#apropos {
	background-image: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%), url("images/auberge66.png");
	background-size: cover;
}

#apropos:hover {
	background-image: url("images/auberge66.png");
	background-size: cover;
	border: 1.5px solid rgb(17, 176, 6);
}

#lacarte {
	background-image: linear-gradient(120deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%), url("images/plat.jpg") ;
	background-size: cover;
}

#lacarte:hover {
	background-image: url("images/plat.jpg");
	background-size: cover;
	border: 1.5px solid rgb(17, 176, 6);

}

#hautsbuttes {
	background-image: linear-gradient(120deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%), url("images/eglise.jpg") ;
	background-size: cover;
}

#hautsbuttes:hover {
	background-image: url("images/eglise.jpg");
	background-size: cover;
	border: 1.5px solid rgb(17, 176, 6);

}

#groupes {
	background-image: linear-gradient(120deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%), url("images/accueilgroupe.jpeg") ;
	background-size: cover;	
}

#groupes:hover {
	background-image: url("images/accueilgroupe.jpeg") ;
	background-size: cover;
	border: 1.5px solid rgb(17, 176, 6);		
}

#footer {
	position: relative;
	background: white;
	height: 170px; 
	padding: 50px;
}

.icons {
padding-left: 0;
margin-left: -10px;	
margin-top: 20px;
}

.icons li {
	display: inline;
	text-decoration: none;
	font-size: 20px;
	color: rgb(49,95,37);
	margin: 0;
	text-align: left;
}

.icons li:hover {
	color: rgb(17, 176, 6);
}

#icon1 {
	padding: 10px;
	justify-content: space-around;
	text-align: left;
}

#icon2 {
	padding: 10px;
	justify-content: space-around;
	text-align: left;
}

#icon3 {
	padding: 10px;
	justify-content: space-around;
	text-align: left;
}

#icon4 {
	padding: 10px;
	justify-content: space-around;
	text-align: left;
}

#TA_restaurantWidgetWhite724 {
	position: absolute;
	bottom: 50px;
	left: 30px;
	height: 50px;
	width: 50px; 
	padding: 0px;
}

#footerbis {
	height: 60px;
	background: rgb(49,95,37);
	padding-top: 20px; 
	text-align: center;
}

.footerbiselement {
	text-decoration: none;
	color: white;
	opacity: 0.8;
	font-weight: lighter;
	font-size: 11px;
}

.footerbiselement:hover {
	text-decoration: none;
	color: white;
	opacity: 0.8;
	font-weight: bolder;
	font-size: 13px;
}

@media (max-width: 760px) {                  
   #Navbar-btn {
      display: none;
   }
}

#Resa-btn-xs {
	position: absolute;
	top: 60px;
	right: 5px;
	height: 50px;

}

@media (min-width: 760px) {                  
   #Resa-btn-xs {
      display: none;
   }
}

